<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>arAin.fina</key>
	<string>arA_in.fina.glif</string>
	<key>arAin.init</key>
	<string>arA_in.init.glif</string>
	<key>arAin.isol</key>
	<string>arA_in.isol.glif</string>
	<key>arAin.medi</key>
	<string>arA_in.medi.glif</string>
	<key>arAlef.fina</key>
	<string>arA_lef.fina.glif</string>
	<key>arAlef.isol</key>
	<string>arA_lef.isol.glif</string>
	<key>arAlefShort.fina</key>
	<string>arA_lefS_hort.fina.glif</string>
	<key>arAlefShort.isol</key>
	<string>arA_lefS_hort.isol.glif</string>
	<key>arAsterisk</key>
	<string>arA_sterisk.glif</string>
	<key>arBeh.fina</key>
	<string>arB_eh.fina.glif</string>
	<key>arBeh.init</key>
	<string>arB_eh.init.glif</string>
	<key>arBeh.isol</key>
	<string>arB_eh.isol.glif</string>
	<key>arBeh.medi</key>
	<string>arB_eh.medi.glif</string>
	<key>arComma</key>
	<string>arC_omma.glif</string>
	<key>arDal.fina</key>
	<string>arD_al.fina.glif</string>
	<key>arDal.isol</key>
	<string>arD_al.isol.glif</string>
	<key>arDecimal</key>
	<string>arD_ecimal.glif</string>
	<key>arFeh.fina</key>
	<string>arF_eh.fina.glif</string>
	<key>arFeh.init</key>
	<string>arF_eh.init.glif</string>
	<key>arFeh.isol</key>
	<string>arF_eh.isol.glif</string>
	<key>arFeh.medi</key>
	<string>arF_eh.medi.glif</string>
	<key>arFullStop</key>
	<string>arF_ullS_top.glif</string>
	<key>arHah.fina</key>
	<string>arH_ah.fina.glif</string>
	<key>arHah.init</key>
	<string>arH_ah.init.glif</string>
	<key>arHah.isol</key>
	<string>arH_ah.isol.glif</string>
	<key>arHah.medi</key>
	<string>arH_ah.medi.glif</string>
	<key>arHamza</key>
	<string>arH_amza.glif</string>
	<key>arHeh.fina</key>
	<string>arH_eh.fina.glif</string>
	<key>arHeh.init</key>
	<string>arH_eh.init.glif</string>
	<key>arHeh.isol</key>
	<string>arH_eh.isol.glif</string>
	<key>arHeh.medi</key>
	<string>arH_eh.medi.glif</string>
	<key>arHehDo.fina</key>
	<string>arH_ehD_o.fina.glif</string>
	<key>arHehDo.isol</key>
	<string>arH_ehD_o.isol.glif</string>
	<key>arKaf.fina</key>
	<string>arK_af.fina.glif</string>
	<key>arKaf.init</key>
	<string>arK_af.init.glif</string>
	<key>arKaf.isol</key>
	<string>arK_af.isol.glif</string>
	<key>arKaf.medi</key>
	<string>arK_af.medi.glif</string>
	<key>arKashida</key>
	<string>arK_ashida.glif</string>
	<key>arKeheh.fina</key>
	<string>arK_eheh.fina.glif</string>
	<key>arKeheh.isol</key>
	<string>arK_eheh.isol.glif</string>
	<key>arLam.fina</key>
	<string>arL_am.fina.glif</string>
	<key>arLam.init</key>
	<string>arL_am.init.glif</string>
	<key>arLam.isol</key>
	<string>arL_am.isol.glif</string>
	<key>arLam.medi</key>
	<string>arL_am.medi.glif</string>
	<key>arMeem.fina</key>
	<string>arM_eem.fina.glif</string>
	<key>arMeem.init</key>
	<string>arM_eem.init.glif</string>
	<key>arMeem.isol</key>
	<string>arM_eem.isol.glif</string>
	<key>arMeem.medi</key>
	<string>arM_eem.medi.glif</string>
	<key>arNoon.fina</key>
	<string>arN_oon.fina.glif</string>
	<key>arNoon.isol</key>
	<string>arN_oon.isol.glif</string>
	<key>arOrnateLeft</key>
	<string>arO_rnateL_eft.glif</string>
	<key>arOrnateRight</key>
	<string>arO_rnateR_ight.glif</string>
	<key>arPercent</key>
	<string>arP_ercent.glif</string>
	<key>arQaf.fina</key>
	<string>arQ_af.fina.glif</string>
	<key>arQaf.isol</key>
	<string>arQ_af.isol.glif</string>
	<key>arQuestion</key>
	<string>arQ_uestion.glif</string>
	<key>arReh.fina</key>
	<string>arR_eh.fina.glif</string>
	<key>arReh.isol</key>
	<string>arR_eh.isol.glif</string>
	<key>arSad.fina</key>
	<string>arS_ad.fina.glif</string>
	<key>arSad.init</key>
	<string>arS_ad.init.glif</string>
	<key>arSad.isol</key>
	<string>arS_ad.isol.glif</string>
	<key>arSad.medi</key>
	<string>arS_ad.medi.glif</string>
	<key>arSeen.fina</key>
	<string>arS_een.fina.glif</string>
	<key>arSeen.init</key>
	<string>arS_een.init.glif</string>
	<key>arSeen.isol</key>
	<string>arS_een.isol.glif</string>
	<key>arSeen.medi</key>
	<string>arS_een.medi.glif</string>
	<key>arSemicolon</key>
	<string>arS_emicolon.glif</string>
	<key>arTah.fina</key>
	<string>arT_ah.fina.glif</string>
	<key>arTah.init</key>
	<string>arT_ah.init.glif</string>
	<key>arTah.isol</key>
	<string>arT_ah.isol.glif</string>
	<key>arTah.medi</key>
	<string>arT_ah.medi.glif</string>
	<key>arThousandsep</key>
	<string>arT_housandsep.glif</string>
	<key>arWaw.fina</key>
	<string>arW_aw.fina.glif</string>
	<key>arWaw.isol</key>
	<string>arW_aw.isol.glif</string>
	<key>arYeh.fina</key>
	<string>arY_eh.fina.glif</string>
	<key>arYeh.isol</key>
	<string>arY_eh.isol.glif</string>
	<key>di1Dot.above</key>
	<string>di1D_ot.above.glif</string>
	<key>di1Dot.below</key>
	<string>di1D_ot.below.glif</string>
	<key>di2Dot.above</key>
	<string>di2D_ot.above.glif</string>
	<key>di2Dot.below</key>
	<string>di2D_ot.below.glif</string>
	<key>di2VDot.above</key>
	<string>di2V_D_ot.above.glif</string>
	<key>di2VDot.below</key>
	<string>di2V_D_ot.below.glif</string>
	<key>di3Dot.above</key>
	<string>di3D_ot.above.glif</string>
	<key>di3IDot.below</key>
	<string>di3I_D_ot.below.glif</string>
	<key>diDamma</key>
	<string>diD_amma.glif</string>
	<key>diDammatan</key>
	<string>diD_ammatan.glif</string>
	<key>diFatha</key>
	<string>diF_atha.glif</string>
	<key>diFathatan</key>
	<string>diF_athatan.glif</string>
	<key>diGaf.above</key>
	<string>diG_af.above.glif</string>
	<key>diHamza</key>
	<string>diH_amza.glif</string>
	<key>diHamza.above</key>
	<string>diH_amza.above.glif</string>
	<key>diHamza.below</key>
	<string>diH_amza.below.glif</string>
	<key>diKasra</key>
	<string>diK_asra.glif</string>
	<key>diKasratan</key>
	<string>diK_asratan.glif</string>
	<key>diLonga.above</key>
	<string>diL_onga.above.glif</string>
	<key>diLonga.below</key>
	<string>diL_onga.below.glif</string>
	<key>diMadda</key>
	<string>diM_adda.glif</string>
	<key>diRing.below</key>
	<string>diR_ing.below.glif</string>
	<key>diShadda</key>
	<string>diS_hadda.glif</string>
	<key>diSmallV.above</key>
	<string>diS_mallV_.above.glif</string>
	<key>diSmallV.below</key>
	<string>diS_mallV_.below.glif</string>
	<key>diSukun</key>
	<string>diS_ukun.glif</string>
	<key>diWasla</key>
	<string>diW_asla.glif</string>
	<key>dig0</key>
	<string>dig0.glif</string>
	<key>dig1</key>
	<string>dig1.glif</string>
	<key>dig2</key>
	<string>dig2.glif</string>
	<key>dig3</key>
	<string>dig3.glif</string>
	<key>dig4</key>
	<string>dig4.glif</string>
	<key>dig4Farsi</key>
	<string>dig4F_arsi.glif</string>
	<key>dig5</key>
	<string>dig5.glif</string>
	<key>dig5Farsi</key>
	<string>dig5F_arsi.glif</string>
	<key>dig6</key>
	<string>dig6.glif</string>
	<key>dig6Farsi</key>
	<string>dig6F_arsi.glif</string>
	<key>dig7</key>
	<string>dig7.glif</string>
	<key>dig8</key>
	<string>dig8.glif</string>
	<key>dig9</key>
	<string>dig9.glif</string>
	<key>legAllah</key>
	<string>legA_llah.glif</string>
	<key>legBE.fina</key>
	<string>legB_E_.fina.glif</string>
	<key>legBE.isol</key>
	<string>legB_E_.isol.glif</string>
	<key>legBG.init</key>
	<string>legB_G_.init.glif</string>
	<key>legBM.init</key>
	<string>legB_M_.init.glif</string>
	<key>legBM.isol</key>
	<string>legB_M_.isol.glif</string>
	<key>legBN.fina</key>
	<string>legB_N_.fina.glif</string>
	<key>legBR.fina</key>
	<string>legB_R_.fina.glif</string>
	<key>legFE.isol</key>
	<string>legF_E_.isol.glif</string>
	<key>legGM.init</key>
	<string>legG_M_.init.glif</string>
	<key>legLA.fina</key>
	<string>legL_A_.fina.glif</string>
	<key>legLA.isol</key>
	<string>legL_A_.isol.glif</string>
	<key>legLAShort.fina</key>
	<string>legL_A_S_hort.fina.glif</string>
	<key>legLAShort.isol</key>
	<string>legL_A_S_hort.isol.glif</string>
	<key>legLE.fina</key>
	<string>legL_E_.fina.glif</string>
	<key>legLE.isol</key>
	<string>legL_E_.isol.glif</string>
	<key>legLG.init</key>
	<string>legL_G_.init.glif</string>
	<key>legLG.isol</key>
	<string>legL_G_.isol.glif</string>
	<key>legLM.init</key>
	<string>legL_M_.init.glif</string>
	<key>legLM.isol</key>
	<string>legL_M_.isol.glif</string>
	<key>legLMG.init</key>
	<string>legL_M_G_.init.glif</string>
	<key>legMG.init</key>
	<string>legM_G_.init.glif</string>
	<key>legMM.init</key>
	<string>legM_M_.init.glif</string>
	<key>legSM.init</key>
	<string>legS_M_.init.glif</string>
	<key>legSalah</key>
	<string>legS_alah.glif</string>
</dict>
</plist>
