<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>__notdef.glif</string>
  <key>NULL</key>
  <string>NULL____.glif</string>
  <key>CR</key>
  <string>CR__.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>arAin.fina</key>
  <string>arAin_.fina.glif</string>
  <key>arAin.init</key>
  <string>arAin_.init.glif</string>
  <key>arAin.isol</key>
  <string>arAin_.isol.glif</string>
  <key>arAin.medi</key>
  <string>arAin_.medi.glif</string>
  <key>arAlef.fina</key>
  <string>arAlef_.fina.glif</string>
  <key>arAlef.fina.la</key>
  <string>arAlef_.fina.la.glif</string>
  <key>arAlef.isol</key>
  <string>arAlef_.isol.glif</string>
  <key>arAlef.isol.la</key>
  <string>arAlef_.isol.la.glif</string>
  <key>arAlefShort.fina</key>
  <string>arAlefShort__.fina.glif</string>
  <key>arAlefShort.fina.la</key>
  <string>arAlefShort__.fina.la.glif</string>
  <key>arAlefShort.isol</key>
  <string>arAlefShort__.isol.glif</string>
  <key>arAlefShort.isol.la</key>
  <string>arAlefShort__.isol.la.glif</string>
  <key>arBeh.fina</key>
  <string>arBeh_.fina.glif</string>
  <key>arBeh.init</key>
  <string>arBeh_.init.glif</string>
  <key>arBeh.isol</key>
  <string>arBeh_.isol.glif</string>
  <key>arBeh.medi</key>
  <string>arBeh_.medi.glif</string>
  <key>arDal.fina</key>
  <string>arDal_.fina.glif</string>
  <key>arDal.isol</key>
  <string>arDal_.isol.glif</string>
  <key>arFeh.fina</key>
  <string>arFeh_.fina.glif</string>
  <key>arFeh.init</key>
  <string>arFeh_.init.glif</string>
  <key>arFeh.isol</key>
  <string>arFeh_.isol.glif</string>
  <key>arFeh.medi</key>
  <string>arFeh_.medi.glif</string>
  <key>arGaf.fina</key>
  <string>arGaf_.fina.glif</string>
  <key>arGaf.init</key>
  <string>arGaf_.init.glif</string>
  <key>arGaf.isol</key>
  <string>arGaf_.isol.glif</string>
  <key>arGaf.medi</key>
  <string>arGaf_.medi.glif</string>
  <key>arHah.fina</key>
  <string>arHah_.fina.glif</string>
  <key>arHah.init</key>
  <string>arHah_.init.glif</string>
  <key>arHah.isol</key>
  <string>arHah_.isol.glif</string>
  <key>arHah.medi</key>
  <string>arHah_.medi.glif</string>
  <key>arHamza.isol</key>
  <string>arHamza_.isol.glif</string>
  <key>arHeh.fina</key>
  <string>arHeh_.fina.glif</string>
  <key>arHeh.fina2</key>
  <string>arHeh_.fina2.glif</string>
  <key>arHeh.init</key>
  <string>arHeh_.init.glif</string>
  <key>arHeh.init2</key>
  <string>arHeh_.init2.glif</string>
  <key>arHeh.isol</key>
  <string>arHeh_.isol.glif</string>
  <key>arHeh.medi</key>
  <string>arHeh_.medi.glif</string>
  <key>arHeh.medi2</key>
  <string>arHeh_.medi2.glif</string>
  <key>arHehDo.fina</key>
  <string>arHehDo__.fina.glif</string>
  <key>arHehDo.isol</key>
  <string>arHehDo__.isol.glif</string>
  <key>arKaf.fina</key>
  <string>arKaf_.fina.glif</string>
  <key>arKaf.init</key>
  <string>arKaf_.init.glif</string>
  <key>arKaf.isol</key>
  <string>arKaf_.isol.glif</string>
  <key>arKaf.medi</key>
  <string>arKaf_.medi.glif</string>
  <key>arKashida</key>
  <string>arKashida_.glif</string>
  <key>arKeheh.fina</key>
  <string>arKeheh_.fina.glif</string>
  <key>arKeheh.isol</key>
  <string>arKeheh_.isol.glif</string>
  <key>arLam.fina</key>
  <string>arLam_.fina.glif</string>
  <key>arLam.init</key>
  <string>arLam_.init.glif</string>
  <key>arLam.init.la</key>
  <string>arLam_.init.la.glif</string>
  <key>arLam.isol</key>
  <string>arLam_.isol.glif</string>
  <key>arLam.medi</key>
  <string>arLam_.medi.glif</string>
  <key>arLam.medi.la</key>
  <string>arLam_.medi.la.glif</string>
  <key>arMeem.fina</key>
  <string>arMeem_.fina.glif</string>
  <key>arMeem.init</key>
  <string>arMeem_.init.glif</string>
  <key>arMeem.isol</key>
  <string>arMeem_.isol.glif</string>
  <key>arMeem.medi</key>
  <string>arMeem_.medi.glif</string>
  <key>arNoon.fina</key>
  <string>arNoon_.fina.glif</string>
  <key>arNoon.isol</key>
  <string>arNoon_.isol.glif</string>
  <key>arQaf.fina</key>
  <string>arQaf_.fina.glif</string>
  <key>arQaf.isol</key>
  <string>arQaf_.isol.glif</string>
  <key>arReh.fina</key>
  <string>arReh_.fina.glif</string>
  <key>arReh.isol</key>
  <string>arReh_.isol.glif</string>
  <key>arSad.fina</key>
  <string>arSad_.fina.glif</string>
  <key>arSad.init</key>
  <string>arSad_.init.glif</string>
  <key>arSad.isol</key>
  <string>arSad_.isol.glif</string>
  <key>arSad.medi</key>
  <string>arSad_.medi.glif</string>
  <key>arSeen.fina</key>
  <string>arSeen_.fina.glif</string>
  <key>arSeen.init</key>
  <string>arSeen_.init.glif</string>
  <key>arSeen.isol</key>
  <string>arSeen_.isol.glif</string>
  <key>arSeen.medi</key>
  <string>arSeen_.medi.glif</string>
  <key>arTah.fina</key>
  <string>arTah_.fina.glif</string>
  <key>arTah.init</key>
  <string>arTah_.init.glif</string>
  <key>arTah.isol</key>
  <string>arTah_.isol.glif</string>
  <key>arTah.medi</key>
  <string>arTah_.medi.glif</string>
  <key>arWaw.fina</key>
  <string>arWaw_.fina.glif</string>
  <key>arWaw.isol</key>
  <string>arWaw_.isol.glif</string>
  <key>arYeh.fina</key>
  <string>arYeh_.fina.glif</string>
  <key>arYeh.fina2</key>
  <string>arYeh_.fina2.glif</string>
  <key>arYeh.isol</key>
  <string>arYeh_.isol.glif</string>
  <key>arYeh.isol2</key>
  <string>arYeh_.isol2.glif</string>
  <key>di1Dot.above</key>
  <string>di1Dot_.above.glif</string>
  <key>di1Dot.below</key>
  <string>di1Dot_.below.glif</string>
  <key>di2Dot.above</key>
  <string>di2Dot_.above.glif</string>
  <key>di2Dot.below</key>
  <string>di2Dot_.below.glif</string>
  <key>di2VDot.above</key>
  <string>di2VDot__.above.glif</string>
  <key>di2VDot.below</key>
  <string>di2VDot__.below.glif</string>
  <key>di3Dot.above</key>
  <string>di3Dot_.above.glif</string>
  <key>di3Dot.below</key>
  <string>di3Dot_.below.glif</string>
  <key>di3IDot.above</key>
  <string>di3IDot__.above.glif</string>
  <key>di3IDot.below</key>
  <string>di3IDot__.below.glif</string>
  <key>di4Dot.above</key>
  <string>di4Dot_.above.glif</string>
  <key>di4Dot.below</key>
  <string>di4Dot_.below.glif</string>
  <key>diDamma</key>
  <string>diDamma_.glif</string>
  <key>diDammatan</key>
  <string>diDammatan_.glif</string>
  <key>diFatha</key>
  <string>diFatha_.glif</string>
  <key>diFathatan</key>
  <string>diFathatan_.glif</string>
  <key>diGaf.above</key>
  <string>diGaf_.above.glif</string>
  <key>diHamza</key>
  <string>diHamza_.glif</string>
  <key>diHamza.above</key>
  <string>diHamza_.above.glif</string>
  <key>diHamza.below</key>
  <string>diHamza_.below.glif</string>
  <key>diKasra</key>
  <string>diKasra_.glif</string>
  <key>diKasratan</key>
  <string>diKasratan_.glif</string>
  <key>diLonga.above</key>
  <string>diLonga_.above.glif</string>
  <key>diLonga.below</key>
  <string>diLonga_.below.glif</string>
  <key>diMadda</key>
  <string>diMadda_.glif</string>
  <key>diRing.below</key>
  <string>diRing_.below.glif</string>
  <key>diShadda</key>
  <string>diShadda_.glif</string>
  <key>diSmallV.above</key>
  <string>diSmallV__.above.glif</string>
  <key>diSmallV.below</key>
  <string>diSmallV__.below.glif</string>
  <key>diSukun</key>
  <string>diSukun_.glif</string>
  <key>diTah.above</key>
  <string>diTah_.above.glif</string>
  <key>diWasla</key>
  <string>diWasla_.glif</string>
  <key>dig0</key>
  <string>dig0.glif</string>
  <key>dig1</key>
  <string>dig1.glif</string>
  <key>dig2</key>
  <string>dig2.glif</string>
  <key>dig3</key>
  <string>dig3.glif</string>
  <key>dig4</key>
  <string>dig4.glif</string>
  <key>dig4Farsi</key>
  <string>dig4Farsi_.glif</string>
  <key>dig4Urdu</key>
  <string>dig4Urdu_.glif</string>
  <key>dig5</key>
  <string>dig5.glif</string>
  <key>dig5Farsi</key>
  <string>dig5Farsi_.glif</string>
  <key>dig6</key>
  <string>dig6.glif</string>
  <key>dig6Farsi</key>
  <string>dig6Farsi_.glif</string>
  <key>dig7</key>
  <string>dig7.glif</string>
  <key>dig7Urdu</key>
  <string>dig7Urdu_.glif</string>
  <key>dig8</key>
  <string>dig8.glif</string>
  <key>dig9</key>
  <string>dig9.glif</string>
  <key>legAllah</key>
  <string>legAllah_.glif</string>
  <key>legLA.fina</key>
  <string>legLA__.fina.glif</string>
  <key>legLA.isol</key>
  <string>legLA__.isol.glif</string>
  <key>legLAShort.fina</key>
  <string>legLAShort___.fina.glif</string>
  <key>legLAShort.isol</key>
  <string>legLAShort___.isol.glif</string>
  <key>legSalah</key>
  <string>legSalah_.glif</string>
  <key>maAsterisk</key>
  <string>maAsterisk_.glif</string>
  <key>maBraceleft</key>
  <string>maBraceleft_.glif</string>
  <key>maBraceright</key>
  <string>maBraceright_.glif</string>
  <key>maBracketleft</key>
  <string>maBracketleft_.glif</string>
  <key>maBracketright</key>
  <string>maBracketright_.glif</string>
  <key>maComma</key>
  <string>maComma_.glif</string>
  <key>maDecimal</key>
  <string>maDecimal_.glif</string>
  <key>maFullStop</key>
  <string>maFullStop__.glif</string>
  <key>maOrnateLeft</key>
  <string>maOrnateLeft__.glif</string>
  <key>maOrnateRight</key>
  <string>maOrnateRight__.glif</string>
  <key>maParenleft</key>
  <string>maParenleft_.glif</string>
  <key>maParentright</key>
  <string>maParentright_.glif</string>
  <key>maPercent</key>
  <string>maPercent_.glif</string>
  <key>maQuestion</key>
  <string>maQuestion_.glif</string>
  <key>maSemicolon</key>
  <string>maSemicolon_.glif</string>
  <key>maThousandsep</key>
  <string>maThousandsep_.glif</string>
  <key>wsBase</key>
  <string>wsBase_.glif</string>
  <key>wsEmspace</key>
  <string>wsEmspace_.glif</string>
  <key>wsEnspace</key>
  <string>wsEnspace_.glif</string>
  <key>wsHairspace</key>
  <string>wsHairspace_.glif</string>
  <key>wsLre</key>
  <string>wsLre_.glif</string>
  <key>wsLrm</key>
  <string>wsLrm_.glif</string>
  <key>wsLro</key>
  <string>wsLro_.glif</string>
  <key>wsPdf</key>
  <string>wsPdf_.glif</string>
  <key>wsRle</key>
  <string>wsRle_.glif</string>
  <key>wsRlm</key>
  <string>wsRlm_.glif</string>
  <key>wsRlo</key>
  <string>wsRlo_.glif</string>
  <key>wsThinspace</key>
  <string>wsThinspace_.glif</string>
  <key>wsZwj</key>
  <string>wsZwj_.glif</string>
  <key>wsZwnj</key>
  <string>wsZwnj_.glif</string>
</dict>
</plist>
