<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar1Dot.above</key>
	<string>ar1D_ot.above.glif</string>
	<key>ar1Dot.below</key>
	<string>ar1D_ot.below.glif</string>
	<key>ar2Dot.above</key>
	<string>ar2D_ot.above.glif</string>
	<key>ar2Dot.below</key>
	<string>ar2D_ot.below.glif</string>
	<key>ar3Dot.above</key>
	<string>ar3D_ot.above.glif</string>
	<key>ar3IDot.below</key>
	<string>ar3I_D_ot.below.glif</string>
	<key>arAin.fina</key>
	<string>arA_in.fina.glif</string>
	<key>arAin.init</key>
	<string>arA_in.init.glif</string>
	<key>arAin.medi</key>
	<string>arA_in.medi.glif</string>
	<key>arAlef.fina</key>
	<string>arA_lef.fina.glif</string>
	<key>arAlef.isol</key>
	<string>arA_lef.isol.glif</string>
	<key>arBeh.fina</key>
	<string>arB_eh.fina.glif</string>
	<key>arBeh.init</key>
	<string>arB_eh.init.glif</string>
	<key>arBeh.medi</key>
	<string>arB_eh.medi.glif</string>
	<key>arDal.fina</key>
	<string>arD_al.fina.glif</string>
	<key>arFeh.fina</key>
	<string>arF_eh.fina.glif</string>
	<key>arFeh.init</key>
	<string>arF_eh.init.glif</string>
	<key>arFeh.medi</key>
	<string>arF_eh.medi.glif</string>
	<key>arGaf.fina</key>
	<string>arG_af.fina.glif</string>
	<key>arGaf.init</key>
	<string>arG_af.init.glif</string>
	<key>arGaf.medi</key>
	<string>arG_af.medi.glif</string>
	<key>arHah.fina</key>
	<string>arH_ah.fina.glif</string>
	<key>arHah.init</key>
	<string>arH_ah.init.glif</string>
	<key>arHah.medi</key>
	<string>arH_ah.medi.glif</string>
	<key>arHeh.fina</key>
	<string>arH_eh.fina.glif</string>
	<key>arHeh.init</key>
	<string>arH_eh.init.glif</string>
	<key>arHeh.medi</key>
	<string>arH_eh.medi.glif</string>
	<key>arKaf.fina</key>
	<string>arK_af.fina.glif</string>
	<key>arKaf.init</key>
	<string>arK_af.init.glif</string>
	<key>arKaf.medi</key>
	<string>arK_af.medi.glif</string>
	<key>arKeheh.fina</key>
	<string>arK_eheh.fina.glif</string>
	<key>arLam.fina</key>
	<string>arL_am.fina.glif</string>
	<key>arLam.init</key>
	<string>arL_am.init.glif</string>
	<key>arMeem.fina</key>
	<string>arM_eem.fina.glif</string>
	<key>arMeem.init</key>
	<string>arM_eem.init.glif</string>
	<key>arMeem.medi</key>
	<string>arM_eem.medi.glif</string>
	<key>arNoon.fina</key>
	<string>arN_oon.fina.glif</string>
	<key>arReh.fina</key>
	<string>arR_eh.fina.glif</string>
	<key>arSad.fina</key>
	<string>arS_ad.fina.glif</string>
	<key>arSad.init</key>
	<string>arS_ad.init.glif</string>
	<key>arSad.medi</key>
	<string>arS_ad.medi.glif</string>
	<key>arSeen.fina</key>
	<string>arS_een.fina.glif</string>
	<key>arSeen.init</key>
	<string>arS_een.init.glif</string>
	<key>arSeen.medi</key>
	<string>arS_een.medi.glif</string>
	<key>arTah.fina</key>
	<string>arT_ah.fina.glif</string>
	<key>arTah.init</key>
	<string>arT_ah.init.glif</string>
	<key>arTah.medi</key>
	<string>arT_ah.medi.glif</string>
	<key>arWaw.fina</key>
	<string>arW_aw.fina.glif</string>
	<key>arYeh.fina</key>
	<string>arY_eh.fina.glif</string>
</dict>
</plist>
