<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.notdef#1</key>
	<string>_notdef#1.glif</string>
	<key>.notdef#2</key>
	<string>_notdef#2.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>FL0000h</key>
	<string>F_L_0000h.glif</string>
	<key>FL586</key>
	<string>F_L_586.glif</string>
	<key>alifF</key>
	<string>alifF_.glif</string>
	<key>alifU</key>
	<string>alifU_.glif</string>
	<key>alifhamAF</key>
	<string>alifhamA_F_.glif</string>
	<key>alifhamAU</key>
	<string>alifhamA_U_.glif</string>
	<key>alifhamBF</key>
	<string>alifhamB_F_.glif</string>
	<key>alifhamBU</key>
	<string>alifhamB_U_.glif</string>
	<key>alifmaddaF</key>
	<string>alifmaddaF_.glif</string>
	<key>alifmaddaU</key>
	<string>alifmaddaU_.glif</string>
	<key>alifmaqF</key>
	<string>alifmaqF_.glif</string>
	<key>alifmaqFF</key>
	<string>alifmaqF_F_.glif</string>
	<key>alifmaqU</key>
	<string>alifmaqU_.glif</string>
	<key>alifmaqUF</key>
	<string>alifmaqU_F_.glif</string>
	<key>alifmaqhamF</key>
	<string>alifmaqhamF_.glif</string>
	<key>alifmaqhamU</key>
	<string>alifmaqhamU_.glif</string>
	<key>allah</key>
	<string>allah.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>aynF</key>
	<string>aynF_.glif</string>
	<key>aynI</key>
	<string>aynI_.glif</string>
	<key>aynM</key>
	<string>aynM_.glif</string>
	<key>aynU</key>
	<string>aynU_.glif</string>
	<key>baF</key>
	<string>baF_.glif</string>
	<key>baI</key>
	<string>baI_.glif</string>
	<key>baM</key>
	<string>baM_.glif</string>
	<key>baU</key>
	<string>baU_.glif</string>
	<key>baheI</key>
	<string>baheI_.glif</string>
	<key>baraF</key>
	<string>baraF_.glif</string>
	<key>bayaU</key>
	<string>bayaU_.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>closebracket</key>
	<string>closebracket.glif</string>
	<key>closechevron</key>
	<string>closechevron.glif</string>
	<key>closeparen</key>
	<string>closeparen.glif</string>
	<key>closeparendec</key>
	<string>closeparendec.glif</string>
	<key>closeschevron</key>
	<string>closeschevron.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaJ</key>
	<string>commaJ_.glif</string>
	<key>dadF</key>
	<string>dadF_.glif</string>
	<key>dadI</key>
	<string>dadI_.glif</string>
	<key>dadM</key>
	<string>dadM_.glif</string>
	<key>dadU</key>
	<string>dadU_.glif</string>
	<key>dadalimaqF</key>
	<string>dadalimaqF_.glif</string>
	<key>dadalimaqU</key>
	<string>dadalimaqU_.glif</string>
	<key>dadraF</key>
	<string>dadraF_.glif</string>
	<key>dadraU</key>
	<string>dadraU_.glif</string>
	<key>dadyaF</key>
	<string>dadyaF_.glif</string>
	<key>dadyaU</key>
	<string>dadyaU_.glif</string>
	<key>dalF</key>
	<string>dalF_.glif</string>
	<key>dalU</key>
	<string>dalU_.glif</string>
	<key>dammaA</key>
	<string>dammaA_.glif</string>
	<key>dammatanA</key>
	<string>dammatanA_.glif</string>
	<key>dammatanAJ</key>
	<string>dammatanA_J_.glif</string>
	<key>decimal</key>
	<string>decimal.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dhalF</key>
	<string>dhalF_.glif</string>
	<key>dhalU</key>
	<string>dhalU_.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eightA</key>
	<string>eightA_.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>faF</key>
	<string>faF_.glif</string>
	<key>faI</key>
	<string>faI_.glif</string>
	<key>faM</key>
	<string>faM_.glif</string>
	<key>faU</key>
	<string>faU_.glif</string>
	<key>faalimaqU</key>
	<string>faalimaqU_.glif</string>
	<key>farsigafF</key>
	<string>farsigafF_.glif</string>
	<key>farsigafU</key>
	<string>farsigafU_.glif</string>
	<key>fathaA</key>
	<string>fathaA_.glif</string>
	<key>fathatanA</key>
	<string>fathatanA_.glif</string>
	<key>fayaU</key>
	<string>fayaU_.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fiveA</key>
	<string>fiveA_.glif</string>
	<key>fiveF</key>
	<string>fiveF_.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fourA</key>
	<string>fourA_.glif</string>
	<key>fourF</key>
	<string>fourF_.glif</string>
	<key>fullpoint</key>
	<string>fullpoint.glif</string>
	<key>gaF</key>
	<string>gaF_.glif</string>
	<key>gaI</key>
	<string>gaI_.glif</string>
	<key>gaM</key>
	<string>gaM_.glif</string>
	<key>gaU</key>
	<string>gaU_.glif</string>
	<key>gafI</key>
	<string>gafI_.glif</string>
	<key>gafM</key>
	<string>gafM_.glif</string>
	<key>ghaynF</key>
	<string>ghaynF_.glif</string>
	<key>ghaynI</key>
	<string>ghaynI_.glif</string>
	<key>ghaynM</key>
	<string>ghaynM_.glif</string>
	<key>ghaynU</key>
	<string>ghaynU_.glif</string>
	<key>haF</key>
	<string>haF_.glif</string>
	<key>haI</key>
	<string>haI_.glif</string>
	<key>haM</key>
	<string>haM_.glif</string>
	<key>haU</key>
	<string>haU_.glif</string>
	<key>hamalwasA</key>
	<string>hamalwasA_.glif</string>
	<key>hamimI</key>
	<string>hamimI_.glif</string>
	<key>hamzaA</key>
	<string>hamzaA_.glif</string>
	<key>hamzaB</key>
	<string>hamzaB_.glif</string>
	<key>hamzaI</key>
	<string>hamzaI_.glif</string>
	<key>hamzaM</key>
	<string>hamzaM_.glif</string>
	<key>hamzaU</key>
	<string>hamzaU_.glif</string>
	<key>hamzahighU</key>
	<string>hamzahighU_.glif</string>
	<key>heF</key>
	<string>heF_.glif</string>
	<key>heI</key>
	<string>heI_.glif</string>
	<key>heM</key>
	<string>heM_.glif</string>
	<key>heU</key>
	<string>heU_.glif</string>
	<key>hejri</key>
	<string>hejri.glif</string>
	<key>hemimI</key>
	<string>hemimI_.glif</string>
	<key>inch</key>
	<string>inch.glif</string>
	<key>invdammaA</key>
	<string>invdammaA_.glif</string>
	<key>jimF</key>
	<string>jimF_.glif</string>
	<key>jimI</key>
	<string>jimI_.glif</string>
	<key>jimM</key>
	<string>jimM_.glif</string>
	<key>jimU</key>
	<string>jimU_.glif</string>
	<key>jimmimI</key>
	<string>jimmimI_.glif</string>
	<key>joiner</key>
	<string>joiner.glif</string>
	<key>kafF</key>
	<string>kafF_.glif</string>
	<key>kafI</key>
	<string>kafI_.glif</string>
	<key>kafM</key>
	<string>kafM_.glif</string>
	<key>kafU</key>
	<string>kafU_.glif</string>
	<key>kafaltF</key>
	<string>kafaltF_.glif</string>
	<key>kafaltU</key>
	<string>kafaltU_.glif</string>
	<key>kashidalong</key>
	<string>kashidalong.glif</string>
	<key>kashidashort</key>
	<string>kashidashort.glif</string>
	<key>kasraB</key>
	<string>kasraB_.glif</string>
	<key>kasratanB</key>
	<string>kasratanB_.glif</string>
	<key>khaF</key>
	<string>khaF_.glif</string>
	<key>khaI</key>
	<string>khaI_.glif</string>
	<key>khaM</key>
	<string>khaM_.glif</string>
	<key>khaU</key>
	<string>khaU_.glif</string>
	<key>khamimI</key>
	<string>khamimI_.glif</string>
	<key>l-r</key>
	<string>l-r.glif</string>
	<key>lamF</key>
	<string>lamF_.glif</string>
	<key>lamI</key>
	<string>lamI_.glif</string>
	<key>lamM</key>
	<string>lamM_.glif</string>
	<key>lamU</key>
	<string>lamU_.glif</string>
	<key>lamaliF</key>
	<string>lamaliF_.glif</string>
	<key>lamaliU</key>
	<string>lamaliU_.glif</string>
	<key>lamalihamAF</key>
	<string>lamalihamA_F_.glif</string>
	<key>lamalihamAU</key>
	<string>lamalihamA_U_.glif</string>
	<key>lamalihamBF</key>
	<string>lamalihamB_F_.glif</string>
	<key>lamalihamBU</key>
	<string>lamalihamB_U_.glif</string>
	<key>lamalimadF</key>
	<string>lamalimadF_.glif</string>
	<key>lamalimadU</key>
	<string>lamalimadU_.glif</string>
	<key>lamalimaqF</key>
	<string>lamalimaqF_.glif</string>
	<key>lamalimaqU</key>
	<string>lamalimaqU_.glif</string>
	<key>lamalisukF</key>
	<string>lamalisukF_.glif</string>
	<key>lamalisukU</key>
	<string>lamalisukU_.glif</string>
	<key>lamhaI</key>
	<string>lamhaI_.glif</string>
	<key>lamheI</key>
	<string>lamheI_.glif</string>
	<key>lamjimI</key>
	<string>lamjimI_.glif</string>
	<key>lamkhaI</key>
	<string>lamkhaI_.glif</string>
	<key>lammimI</key>
	<string>lammimI_.glif</string>
	<key>lammimU</key>
	<string>lammimU_.glif</string>
	<key>lamyaF</key>
	<string>lamyaF_.glif</string>
	<key>lamyaU</key>
	<string>lamyaU_.glif</string>
	<key>longaA</key>
	<string>longaA_.glif</string>
	<key>longaB</key>
	<string>longaB_.glif</string>
	<key>longallah</key>
	<string>longallah.glif</string>
	<key>longallahF</key>
	<string>longallahF_.glif</string>
	<key>maddaA</key>
	<string>maddaA_.glif</string>
	<key>mimF</key>
	<string>mimF_.glif</string>
	<key>mimI</key>
	<string>mimI_.glif</string>
	<key>mimM</key>
	<string>mimM_.glif</string>
	<key>mimU</key>
	<string>mimU_.glif</string>
	<key>mimaliF</key>
	<string>mimaliF_.glif</string>
	<key>mimhaI</key>
	<string>mimhaI_.glif</string>
	<key>mimjimI</key>
	<string>mimjimI_.glif</string>
	<key>mimkhaI</key>
	<string>mimkhaI_.glif</string>
	<key>mimmimI</key>
	<string>mimmimI_.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>ngaF</key>
	<string>ngaF_.glif</string>
	<key>ngaI</key>
	<string>ngaI_.glif</string>
	<key>ngaM</key>
	<string>ngaM_.glif</string>
	<key>ngaU</key>
	<string>ngaU_.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nineA</key>
	<string>nineA_.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>nunF</key>
	<string>nunF_.glif</string>
	<key>nunI</key>
	<string>nunI_.glif</string>
	<key>nunM</key>
	<string>nunM_.glif</string>
	<key>nunU</key>
	<string>nunU_.glif</string>
	<key>nunheI</key>
	<string>nunheI_.glif</string>
	<key>nunyaU</key>
	<string>nunyaU_.glif</string>
	<key>nyaF</key>
	<string>nyaF_.glif</string>
	<key>nyaI</key>
	<string>nyaI_.glif</string>
	<key>nyaM</key>
	<string>nyaM_.glif</string>
	<key>nyaU</key>
	<string>nyaU_.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oneA</key>
	<string>oneA_.glif</string>
	<key>openbracket</key>
	<string>openbracket.glif</string>
	<key>openchevron</key>
	<string>openchevron.glif</string>
	<key>openparen</key>
	<string>openparen.glif</string>
	<key>openparendec</key>
	<string>openparendec.glif</string>
	<key>openschevron</key>
	<string>openschevron.glif</string>
	<key>paF</key>
	<string>paF_.glif</string>
	<key>paI</key>
	<string>paI_.glif</string>
	<key>paM</key>
	<string>paM_.glif</string>
	<key>paU</key>
	<string>paU_.glif</string>
	<key>peF</key>
	<string>peF_.glif</string>
	<key>peU</key>
	<string>peU_.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>qafF</key>
	<string>qafF_.glif</string>
	<key>qafI</key>
	<string>qafI_.glif</string>
	<key>qafM</key>
	<string>qafM_.glif</string>
	<key>qafU</key>
	<string>qafU_.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>r-l</key>
	<string>r-l.glif</string>
	<key>raF</key>
	<string>raF_.glif</string>
	<key>raU</key>
	<string>raU_.glif</string>
	<key>return</key>
	<string>return.glif</string>
	<key>sadF</key>
	<string>sadF_.glif</string>
	<key>sadI</key>
	<string>sadI_.glif</string>
	<key>sadM</key>
	<string>sadM_.glif</string>
	<key>sadU</key>
	<string>sadU_.glif</string>
	<key>sadalimaqF</key>
	<string>sadalimaqF_.glif</string>
	<key>sadalimaqU</key>
	<string>sadalimaqU_.glif</string>
	<key>sadraF</key>
	<string>sadraF_.glif</string>
	<key>sadraU</key>
	<string>sadraU_.glif</string>
	<key>sadyaF</key>
	<string>sadyaF_.glif</string>
	<key>sadyaU</key>
	<string>sadyaU_.glif</string>
	<key>sallalahoalaih</key>
	<string>sallalahoalaih.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolonJ</key>
	<string>semicolonJ_.glif</string>
	<key>separator</key>
	<string>separator.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sevenA</key>
	<string>sevenA_.glif</string>
	<key>shaddaA</key>
	<string>shaddaA_.glif</string>
	<key>shaddadamA</key>
	<string>shaddadamA_.glif</string>
	<key>shaddadamtanA</key>
	<string>shaddadamtanA_.glif</string>
	<key>shaddadamtanAJ</key>
	<string>shaddadamtanA_J_.glif</string>
	<key>shaddafatA</key>
	<string>shaddafatA_.glif</string>
	<key>shaddafattanA</key>
	<string>shaddafattanA_.glif</string>
	<key>shaddakasA</key>
	<string>shaddakasA_.glif</string>
	<key>shaddakastanA</key>
	<string>shaddakastanA_.glif</string>
	<key>shaddalongaA</key>
	<string>shaddalongaA_.glif</string>
	<key>sheF</key>
	<string>sheF_.glif</string>
	<key>sheU</key>
	<string>sheU_.glif</string>
	<key>shinF</key>
	<string>shinF_.glif</string>
	<key>shinI</key>
	<string>shinI_.glif</string>
	<key>shinM</key>
	<string>shinM_.glif</string>
	<key>shinU</key>
	<string>shinU_.glif</string>
	<key>shinraF</key>
	<string>shinraF_.glif</string>
	<key>shinraU</key>
	<string>shinraU_.glif</string>
	<key>shinyaF</key>
	<string>shinyaF_.glif</string>
	<key>shinyaU</key>
	<string>shinyaU_.glif</string>
	<key>sinF</key>
	<string>sinF_.glif</string>
	<key>sinI</key>
	<string>sinI_.glif</string>
	<key>sinM</key>
	<string>sinM_.glif</string>
	<key>sinU</key>
	<string>sinU_.glif</string>
	<key>sinraF</key>
	<string>sinraF_.glif</string>
	<key>sinraU</key>
	<string>sinraU_.glif</string>
	<key>sinyaF</key>
	<string>sinyaF_.glif</string>
	<key>sinyaU</key>
	<string>sinyaU_.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sixA</key>
	<string>sixA_.glif</string>
	<key>sixF</key>
	<string>sixF_.glif</string>
	<key>solidus</key>
	<string>solidus.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>square</key>
	<string>square.glif</string>
	<key>sukunA</key>
	<string>sukunA_.glif</string>
	<key>ta-F</key>
	<string>ta-F_.glif</string>
	<key>ta-I</key>
	<string>ta-I_.glif</string>
	<key>ta-M</key>
	<string>ta-M_.glif</string>
	<key>ta-U</key>
	<string>ta-U_.glif</string>
	<key>taF</key>
	<string>taF_.glif</string>
	<key>taI</key>
	<string>taI_.glif</string>
	<key>taM</key>
	<string>taM_.glif</string>
	<key>taU</key>
	<string>taU_.glif</string>
	<key>tahaI</key>
	<string>tahaI_.glif</string>
	<key>taheI</key>
	<string>taheI_.glif</string>
	<key>tajimI</key>
	<string>tajimI_.glif</string>
	<key>takhaI</key>
	<string>takhaI_.glif</string>
	<key>tamarF</key>
	<string>tamarF_.glif</string>
	<key>tamarU</key>
	<string>tamarU_.glif</string>
	<key>tamimI</key>
	<string>tamimI_.glif</string>
	<key>taraF</key>
	<string>taraF_.glif</string>
	<key>tayaU</key>
	<string>tayaU_.glif</string>
	<key>thaF</key>
	<string>thaF_.glif</string>
	<key>thaI</key>
	<string>thaI_.glif</string>
	<key>thaM</key>
	<string>thaM_.glif</string>
	<key>thaU</key>
	<string>thaU_.glif</string>
	<key>thickmaddaA</key>
	<string>thickmaddaA_.glif</string>
	<key>thinmaddaA</key>
	<string>thinmaddaA_.glif</string>
	<key>thousandsep</key>
	<string>thousandsep.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threeA</key>
	<string>threeA_.glif</string>
	<key>tjimF</key>
	<string>tjimF_.glif</string>
	<key>tjimI</key>
	<string>tjimI_.glif</string>
	<key>tjimM</key>
	<string>tjimM_.glif</string>
	<key>tjimU</key>
	<string>tjimU_.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twoA</key>
	<string>twoA_.glif</string>
	<key>viF</key>
	<string>viF_.glif</string>
	<key>viU</key>
	<string>viU_.glif</string>
	<key>wawF</key>
	<string>wawF_.glif</string>
	<key>wawU</key>
	<string>wawU_.glif</string>
	<key>wawhamF</key>
	<string>wawhamF_.glif</string>
	<key>wawhamU</key>
	<string>wawhamU_.glif</string>
	<key>yaF</key>
	<string>yaF_.glif</string>
	<key>yaI</key>
	<string>yaI_.glif</string>
	<key>yaM</key>
	<string>yaM_.glif</string>
	<key>yaU</key>
	<string>yaU_.glif</string>
	<key>yahaI</key>
	<string>yahaI_.glif</string>
	<key>yaheI</key>
	<string>yaheI_.glif</string>
	<key>yajimI</key>
	<string>yajimI_.glif</string>
	<key>yakhaI</key>
	<string>yakhaI_.glif</string>
	<key>yanunF</key>
	<string>yanunF_.glif</string>
	<key>yaraF</key>
	<string>yaraF_.glif</string>
	<key>zaF</key>
	<string>zaF_.glif</string>
	<key>zaI</key>
	<string>zaI_.glif</string>
	<key>zaM</key>
	<string>zaM_.glif</string>
	<key>zaU</key>
	<string>zaU_.glif</string>
	<key>zayF</key>
	<string>zayF_.glif</string>
	<key>zayU</key>
	<string>zayU_.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zeroA</key>
	<string>zeroA_.glif</string>
</dict>
</plist>
