<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>nonmarkingreturn</string>
		<string>space</string>
		<string>FL0000h</string>
		<string>exclam</string>
		<string>dollar</string>
		<string>closeparen</string>
		<string>openparen</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>minus</string>
		<string>fullpoint</string>
		<string>solidus</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>equal</string>
		<string>closebracket</string>
		<string>openbracket</string>
		<string>emdash</string>
		<string>cent</string>
		<string>degree</string>
		<string>multiply</string>
		<string>divide</string>
		<string>lamjimI</string>
		<string>lamhaI</string>
		<string>lamkhaI</string>
		<string>FL586</string>
		<string>l-r</string>
		<string>r-l</string>
		<string>separator</string>
		<string>joiner</string>
		<string>baheI</string>
		<string>taheI</string>
		<string>jimmimI</string>
		<string>mimmimI</string>
		<string>bayaU</string>
		<string>tayaU</string>
		<string>tamimI</string>
		<string>yaheI</string>
		<string>hamimI</string>
		<string>khamimI</string>
		<string>lammimU</string>
		<string>lamheI</string>
		<string>mimaliF</string>
		<string>mimjimI</string>
		<string>mimhaI</string>
		<string>mimkhaI</string>
		<string>fayaU</string>
		<string>faalimaqU</string>
		<string>lamyaU</string>
		<string>baI</string>
		<string>taI</string>
		<string>thaI</string>
		<string>jimI</string>
		<string>haI</string>
		<string>khaI</string>
		<string>lammimI</string>
		<string>lamalimaqF</string>
		<string>yaraF</string>
		<string>baraF</string>
		<string>taraF</string>
		<string>sinI</string>
		<string>shinI</string>
		<string>ta-I</string>
		<string>zaI</string>
		<string>aynI</string>
		<string>lamyaF</string>
		<string>yanunF</string>
		<string>lamalimaqU</string>
		<string>shinraF</string>
		<string>ghaynI</string>
		<string>faI</string>
		<string>qafI</string>
		<string>kafI</string>
		<string>lamI</string>
		<string>shinyaF</string>
		<string>sadraF</string>
		<string>sadalimaqF</string>
		<string>mimI</string>
		<string>shinM</string>
		<string>sadM</string>
		<string>dadM</string>
		<string>ta-M</string>
		<string>zaM</string>
		<string>aynM</string>
		<string>ghaynM</string>
		<string>faM</string>
		<string>qafM</string>
		<string>kafM</string>
		<string>lamM</string>
		<string>mimM</string>
		<string>nunM</string>
		<string>heM</string>
		<string>yaM</string>
		<string>nunI</string>
		<string>alifhamAF</string>
		<string>wawhamF</string>
		<string>alifhamBF</string>
		<string>dadalimaqF</string>
		<string>alifF</string>
		<string>baF</string>
		<string>tamarF</string>
		<string>taF</string>
		<string>thaF</string>
		<string>jimF</string>
		<string>lamalisukF</string>
		<string>thousandsep</string>
		<string>alifmaddaF</string>
		<string>heI</string>
		<string>yaI</string>
		<string>haF</string>
		<string>khaF</string>
		<string>dalF</string>
		<string>dhalF</string>
		<string>raF</string>
		<string>zayF</string>
		<string>sinF</string>
		<string>shinF</string>
		<string>sadF</string>
		<string>dadF</string>
		<string>ta-F</string>
		<string>zaF</string>
		<string>aynF</string>
		<string>ghaynF</string>
		<string>faF</string>
		<string>qafF</string>
		<string>kafF</string>
		<string>lamF</string>
		<string>mimF</string>
		<string>nunF</string>
		<string>heF</string>
		<string>wawF</string>
		<string>alifmaqF</string>
		<string>yaF</string>
		<string>lamalimadF</string>
		<string>sinraF</string>
		<string>sinraU</string>
		<string>dadI</string>
		<string>dadalimaqU</string>
		<string>dadraF</string>
		<string>sinM</string>
		<string>baM</string>
		<string>square</string>
		<string>taM</string>
		<string>thaM</string>
		<string>jimM</string>
		<string>haM</string>
		<string>khaM</string>
		<string>sinyaU</string>
		<string>shinraU</string>
		<string>shinyaU</string>
		<string>sinyaF</string>
		<string>sadraU</string>
		<string>closechevron</string>
		<string>sadalimaqU</string>
		<string>dadraU</string>
		<string>longallah</string>
		<string>kashidalong</string>
		<string>nunyaU</string>
		<string>hemimI</string>
		<string>yajimI</string>
		<string>shaddakasA</string>
		<string>shaddafatA</string>
		<string>longaA</string>
		<string>openchevron</string>
		<string>shaddadamtanA</string>
		<string>lamaliF</string>
		<string>lamalihamAF</string>
		<string>yahaI</string>
		<string>lamalihamBF</string>
		<string>shaddadamA</string>
		<string>inch</string>
		<string>yakhaI</string>
		<string>percent</string>
		<string>decimal</string>
		<string>nunheI</string>
		<string>comma</string>
		<string>zeroA</string>
		<string>oneA</string>
		<string>twoA</string>
		<string>threeA</string>
		<string>fourA</string>
		<string>fiveA</string>
		<string>sixA</string>
		<string>sevenA</string>
		<string>eightA</string>
		<string>nineA</string>
		<string>semicolon</string>
		<string>openschevron</string>
		<string>closeschevron</string>
		<string>question</string>
		<string>sadI</string>
		<string>hamzaU</string>
		<string>alifmaddaU</string>
		<string>alifhamAU</string>
		<string>wawhamU</string>
		<string>alifhamBU</string>
		<string>alifmaqhamU</string>
		<string>alifU</string>
		<string>baU</string>
		<string>tamarU</string>
		<string>taU</string>
		<string>thaU</string>
		<string>jimU</string>
		<string>haU</string>
		<string>khaU</string>
		<string>dalU</string>
		<string>dhalU</string>
		<string>raU</string>
		<string>zayU</string>
		<string>sinU</string>
		<string>shinU</string>
		<string>sadU</string>
		<string>dadU</string>
		<string>ta-U</string>
		<string>zaU</string>
		<string>aynU</string>
		<string>ghaynU</string>
		<string>hamalwasA</string>
		<string>kashidashort</string>
		<string>faU</string>
		<string>qafU</string>
		<string>kafU</string>
		<string>lamU</string>
		<string>mimU</string>
		<string>nunU</string>
		<string>heU</string>
		<string>wawU</string>
		<string>alifmaqU</string>
		<string>yaU</string>
		<string>fathatanA</string>
		<string>dammatanA</string>
		<string>kasratanB</string>
		<string>fathaA</string>
		<string>dammaA</string>
		<string>kasraB</string>
		<string>shaddaA</string>
		<string>sukunA</string>
		<string>lamaliU</string>
		<string>lamalimadU</string>
		<string>lamalihamAU</string>
		<string>lamalisukU</string>
		<string>lamalihamBU</string>
		<string>hamzaI</string>
		<string>hamzaM</string>
		<string>alifmaqhamF</string>
		<string>openparendec</string>
		<string>allah</string>
		<string>closeparendec</string>
		<string>shaddafattanA</string>
		<string>shaddakastanA</string>
		<string>.notdef#1</string>
		<string>kafaltF</string>
		<string>viF</string>
		<string>paI</string>
		<string>nyaF</string>
		<string>tjimI</string>
		<string>paM</string>
		<string>paF</string>
		<string>tjimM</string>
		<string>tjimF</string>
		<string>gaI</string>
		<string>gaM</string>
		<string>nyaM</string>
		<string>gaF</string>
		<string>ngaI</string>
		<string>ngaM</string>
		<string>ngaF</string>
		<string>nyaI</string>
		<string>thinmaddaA</string>
		<string>kafaltU</string>
		<string>thickmaddaA</string>
		<string>shaddalongaA</string>
		<string>invdammaA</string>
		<string>longaB</string>
		<string>ngaU</string>
		<string>gaU</string>
		<string>tjimU</string>
		<string>paU</string>
		<string>nyaU</string>
		<string>viU</string>
		<string>shaddadamtanAJ</string>
		<string>hamzahighU</string>
		<string>semicolonJ</string>
		<string>commaJ</string>
		<string>dammatanAJ</string>
		<string>sheF</string>
		<string>gafI</string>
		<string>gafM</string>
		<string>farsigafF</string>
		<string>peF</string>
		<string>peU</string>
		<string>farsigafU</string>
		<string>sheU</string>
		<string>longallahF</string>
		<string>fourF</string>
		<string>fiveF</string>
		<string>sixF</string>
		<string>takhaI</string>
		<string>tahaI</string>
		<string>tajimI</string>
		<string>maddaA</string>
		<string>hamzaA</string>
		<string>hamzaB</string>
		<string>.notdef#2</string>
		<string>return</string>
		<string>sadyaU</string>
		<string>dadyaU</string>
		<string>sadyaF</string>
		<string>dadyaF</string>
		<string>alifmaqUF</string>
		<string>alifmaqFF</string>
		<string>sallalahoalaih</string>
		<string>hejri</string>
	</array>
</dict>
</plist>
