<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>64D9CD65-CF3F-4A91-811E-EC5BA26562D2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>arAlefShort.fina</string>
		<string>arAlef.isol</string>
		<string>arAlef.fina</string>
		<string>arWaw.isol</string>
		<string>arWaw.fina</string>
		<string>arYeh.isol</string>
		<string>arYeh.fina</string>
		<string>arBeh.init</string>
		<string>arBeh.medi</string>
		<string>arBeh.isol</string>
		<string>arBeh.fina</string>
		<string>arHeh.isol</string>
		<string>arHeh.fina</string>
		<string>arHeh.init</string>
		<string>arHeh.medi</string>
		<string>arHehDo.isol</string>
		<string>arHehDo.fina</string>
		<string>arHah.isol</string>
		<string>arHah.fina</string>
		<string>arHah.init</string>
		<string>arHah.medi</string>
		<string>arDal.isol</string>
		<string>arDal.fina</string>
		<string>arReh.isol</string>
		<string>arReh.fina</string>
		<string>arSeen.isol</string>
		<string>arSeen.fina</string>
		<string>arSeen.init</string>
		<string>arSeen.medi</string>
		<string>arSad.isol</string>
		<string>arSad.fina</string>
		<string>arSad.init</string>
		<string>arSad.medi</string>
		<string>arTah.isol</string>
		<string>arTah.fina</string>
		<string>arTah.init</string>
		<string>arTah.medi</string>
		<string>arAin.isol</string>
		<string>arAin.fina</string>
		<string>arAin.init</string>
		<string>arAin.medi</string>
		<string>arQaf.isol</string>
		<string>arQaf.fina</string>
		<string>arFeh.isol</string>
		<string>arFeh.fina</string>
		<string>arFeh.init</string>
		<string>arFeh.medi</string>
		<string>arKaf.isol</string>
		<string>arKaf.fina</string>
		<string>arKaf.init</string>
		<string>arKaf.medi</string>
		<string>arLam.isol</string>
		<string>arLam.fina</string>
		<string>arLam.init</string>
		<string>arLam.medi</string>
		<string>arMeem.isol</string>
		<string>arMeem.fina</string>
		<string>arMeem.init</string>
		<string>arMeem.medi</string>
		<string>arNoon.isol</string>
		<string>arNoon.fina</string>
		<string>arKeheh.isol</string>
		<string>arKeheh.fina</string>
		<string>arLA.isol</string>
		<string>arLA.fina</string>
		<string>uni0621</string>
		<string>uni0640</string>
		<string>uni0660</string>
		<string>uni0661</string>
		<string>uni0662</string>
		<string>uni0663</string>
		<string>uni0664</string>
		<string>uni0665</string>
		<string>uni0666</string>
		<string>uni0667</string>
		<string>uni0668</string>
		<string>uni0669</string>
		<string>uni06F4</string>
		<string>uni06F5</string>
		<string>uni06F6</string>
		<string>uni060C</string>
		<string>uni061B</string>
		<string>uni061F</string>
		<string>uni064B</string>
		<string>uni064C</string>
		<string>uni064D</string>
		<string>uni064E</string>
		<string>uni064F</string>
		<string>uni0650</string>
		<string>uni0651</string>
		<string>uni0652</string>
		<string>uni0653</string>
		<string>uni0654</string>
		<string>uni0655</string>
		<string>uni0656</string>
		<string>arSmallV.above</string>
		<string>uni066A</string>
		<string>uni066B</string>
		<string>uni066C</string>
		<string>uni066D</string>
		<string>uni0670</string>
		<string>uni06D4</string>
		<string>ar1Dot.above</string>
		<string>ar1Dot.below</string>
		<string>ar2Dot.above</string>
		<string>ar2Dot.below</string>
		<string>ar3Dot.above</string>
		<string>ar3IDot.below</string>
		<string>ar2VDot.above</string>
		<string>ar2VDot.below</string>
		<string>arRing.below</string>
		<string>arSad.above</string>
		<string>arKaf.above</string>
		<string>arHamza.above</string>
		<string>arGaf.above</string>
		<string>arSmallV.below</string>
		<string>arFE.isol</string>
		<string>arLE.isol</string>
		<string>arBR.fina</string>
		<string>arBN.fina</string>
		<string>arBE.isol</string>
		<string>arLMG.init</string>
		<string>arBM.isol</string>
		<string>arLG.isol</string>
		<string>arSM.init</string>
		<string>arBM.init</string>
		<string>arLM.isol</string>
		<string>arBE.fina</string>
		<string>arBG.init</string>
		<string>arMG.init</string>
		<string>arMM.init</string>
		<string>arLG.init</string>
		<string>arGM.init</string>
		<string>arLM.init</string>
		<string>arAlefShort.isol</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>500</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>com.trufont.sortDescriptor</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<false/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array/>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>uni0640</string>
				<string>uni0621</string>
				<string>uni0656</string>
				<string>uni064B</string>
				<string>uni064C</string>
				<string>uni064D</string>
				<string>uni064E</string>
				<string>uni064F</string>
				<string>uni0650</string>
				<string>uni0651</string>
				<string>uni0652</string>
				<string>uni0653</string>
				<string>uni0654</string>
				<string>uni0655</string>
				<string>uni0670</string>
				<string>uni0660</string>
				<string>uni0661</string>
				<string>uni0662</string>
				<string>uni0663</string>
				<string>uni0664</string>
				<string>uni0665</string>
				<string>uni0666</string>
				<string>uni0667</string>
				<string>uni0668</string>
				<string>uni0669</string>
				<string>uni06F4</string>
				<string>uni06F5</string>
				<string>uni06F6</string>
				<string>uni060C</string>
				<string>uni061B</string>
				<string>uni061F</string>
				<string>uni066A</string>
				<string>uni066B</string>
				<string>uni066C</string>
				<string>uni066D</string>
				<string>uni06D4</string>
				<string>arAlef.isol</string>
				<string>arHah.isol</string>
				<string>arDal.isol</string>
				<string>arReh.isol</string>
				<string>arSeen.isol</string>
				<string>arSad.isol</string>
				<string>arTah.isol</string>
				<string>arAin.isol</string>
				<string>arKaf.isol</string>
				<string>arLam.isol</string>
				<string>arMeem.isol</string>
				<string>arHeh.isol</string>
				<string>arWaw.isol</string>
				<string>arYeh.isol</string>
				<string>arBeh.isol</string>
				<string>arQaf.isol</string>
				<string>arFeh.isol</string>
				<string>arKeheh.isol</string>
				<string>arNoon.isol</string>
				<string>arHehDo.isol</string>
				<string>arLG.isol</string>
				<string>arLM.isol</string>
				<string>arLE.isol</string>
				<string>arLA.isol</string>
				<string>arAlefShort.isol</string>
				<string>arFE.isol</string>
				<string>arBE.isol</string>
				<string>arBM.isol</string>
				<string>arKeheh.fina</string>
				<string>arNoon.fina</string>
				<string>arHehDo.fina</string>
				<string>arAlef.fina</string>
				<string>arHah.fina</string>
				<string>arDal.fina</string>
				<string>arReh.fina</string>
				<string>arSeen.fina</string>
				<string>arSad.fina</string>
				<string>arTah.fina</string>
				<string>arAin.fina</string>
				<string>arKaf.fina</string>
				<string>arLam.fina</string>
				<string>arMeem.fina</string>
				<string>arHeh.fina</string>
				<string>arWaw.fina</string>
				<string>arYeh.fina</string>
				<string>arLA.fina</string>
				<string>arBeh.fina</string>
				<string>arQaf.fina</string>
				<string>arFeh.fina</string>
				<string>arAlefShort.fina</string>
				<string>arBR.fina</string>
				<string>arBN.fina</string>
				<string>arBE.fina</string>
				<string>arBeh.init</string>
				<string>arSM.init</string>
				<string>arGM.init</string>
				<string>arLG.init</string>
				<string>arLM.init</string>
				<string>arMG.init</string>
				<string>arMM.init</string>
				<string>arLMG.init</string>
				<string>arHah.init</string>
				<string>arSeen.init</string>
				<string>arSad.init</string>
				<string>arTah.init</string>
				<string>arAin.init</string>
				<string>arKaf.init</string>
				<string>arLam.init</string>
				<string>arMeem.init</string>
				<string>arHeh.init</string>
				<string>arFeh.init</string>
				<string>arBM.init</string>
				<string>arBG.init</string>
				<string>arBeh.medi</string>
				<string>arHah.medi</string>
				<string>arSeen.medi</string>
				<string>arSad.medi</string>
				<string>arTah.medi</string>
				<string>arAin.medi</string>
				<string>arKaf.medi</string>
				<string>arLam.medi</string>
				<string>arMeem.medi</string>
				<string>arHeh.medi</string>
				<string>arFeh.medi</string>
				<string>arSmallV.above</string>
				<string>ar1Dot.below</string>
				<string>ar2Dot.below</string>
				<string>ar3IDot.below</string>
				<string>ar2VDot.below</string>
				<string>arRing.below</string>
				<string>arSmallV.below</string>
				<string>arSad.above</string>
				<string>arKaf.above</string>
				<string>arHamza.above</string>
				<string>arGaf.above</string>
				<string>ar1Dot.above</string>
				<string>ar2Dot.above</string>
				<string>ar3Dot.above</string>
				<string>ar2VDot.above</string>
				<string>.notdef</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>arAin.fina</string>
		<string>arAin.init</string>
		<string>arAin.isol</string>
		<string>arAin.medi</string>
		<string>arAlef.fina</string>
		<string>arAlef.isol</string>
		<string>arAlefShort.fina</string>
		<string>arAlefShort.isol</string>
		<string>arAsterisk</string>
		<string>arBeh.fina</string>
		<string>arBeh.init</string>
		<string>arBeh.isol</string>
		<string>arBeh.medi</string>
		<string>arComma</string>
		<string>arDal.fina</string>
		<string>arDal.isol</string>
		<string>arDecimal</string>
		<string>arFeh.fina</string>
		<string>arFeh.init</string>
		<string>arFeh.isol</string>
		<string>arFeh.medi</string>
		<string>arFullStop</string>
		<string>arHah.fina</string>
		<string>arHah.init</string>
		<string>arHah.isol</string>
		<string>arHah.medi</string>
		<string>arHamza</string>
		<string>arHeh.fina</string>
		<string>arHeh.init</string>
		<string>arHeh.isol</string>
		<string>arHeh.medi</string>
		<string>arHehDo.fina</string>
		<string>arHehDo.isol</string>
		<string>arKaf.fina</string>
		<string>arKaf.init</string>
		<string>arKaf.isol</string>
		<string>arKaf.medi</string>
		<string>arKashida</string>
		<string>arKeheh.fina</string>
		<string>arKeheh.isol</string>
		<string>arLam.fina</string>
		<string>arLam.init</string>
		<string>arLam.isol</string>
		<string>arLam.medi</string>
		<string>arMeem.fina</string>
		<string>arMeem.init</string>
		<string>arMeem.isol</string>
		<string>arMeem.medi</string>
		<string>arNoon.fina</string>
		<string>arNoon.isol</string>
		<string>arOrnateLeft</string>
		<string>arOrnateRight</string>
		<string>arPercent</string>
		<string>arQaf.fina</string>
		<string>arQaf.isol</string>
		<string>arQuestion</string>
		<string>arReh.fina</string>
		<string>arReh.isol</string>
		<string>arSad.fina</string>
		<string>arSad.init</string>
		<string>arSad.isol</string>
		<string>arSad.medi</string>
		<string>arSeen.fina</string>
		<string>arSeen.init</string>
		<string>arSeen.isol</string>
		<string>arSeen.medi</string>
		<string>arSemicolon</string>
		<string>arTah.fina</string>
		<string>arTah.init</string>
		<string>arTah.isol</string>
		<string>arTah.medi</string>
		<string>arThousandsep</string>
		<string>arWaw.fina</string>
		<string>arWaw.isol</string>
		<string>arYeh.fina</string>
		<string>arYeh.isol</string>
		<string>di1Dot.above</string>
		<string>di1Dot.below</string>
		<string>di2Dot.above</string>
		<string>di2Dot.below</string>
		<string>di2VDot.above</string>
		<string>di2VDot.below</string>
		<string>di3Dot.above</string>
		<string>di3IDot.below</string>
		<string>diDamma</string>
		<string>diDammatan</string>
		<string>diFatha</string>
		<string>diFathatan</string>
		<string>diGaf.above</string>
		<string>diHamza</string>
		<string>diHamza.above</string>
		<string>diHamza.below</string>
		<string>diKasra</string>
		<string>diKasratan</string>
		<string>diLonga.above</string>
		<string>diLonga.below</string>
		<string>diMadda</string>
		<string>diRing.below</string>
		<string>diShadda</string>
		<string>diSmallV.above</string>
		<string>diSmallV.below</string>
		<string>diSukun</string>
		<string>diWasla</string>
		<string>dig0</string>
		<string>dig1</string>
		<string>dig2</string>
		<string>dig3</string>
		<string>dig4</string>
		<string>dig4Farsi</string>
		<string>dig5</string>
		<string>dig5Farsi</string>
		<string>dig6</string>
		<string>dig6Farsi</string>
		<string>dig7</string>
		<string>dig8</string>
		<string>dig9</string>
		<string>legAllah</string>
		<string>legBE.fina</string>
		<string>legBE.isol</string>
		<string>legBG.init</string>
		<string>legBM.init</string>
		<string>legBM.isol</string>
		<string>legBN.fina</string>
		<string>legBR.fina</string>
		<string>legFE.isol</string>
		<string>legGM.init</string>
		<string>legLA.fina</string>
		<string>legLA.isol</string>
		<string>legLAShort.fina</string>
		<string>legLAShort.isol</string>
		<string>legLE.fina</string>
		<string>legLE.isol</string>
		<string>legLG.init</string>
		<string>legLG.isol</string>
		<string>legLM.init</string>
		<string>legLM.isol</string>
		<string>legLMG.init</string>
		<string>legMG.init</string>
		<string>legMM.init</string>
		<string>legSM.init</string>
		<string>legSalah</string>
	</array>
</dict>
</plist>
