<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>10</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>arAin.fina</string>
    <string>arAin.init</string>
    <string>arAin.isol</string>
    <string>arAin.medi</string>
    <string>arAlef.fina</string>
    <string>arAlef.fina.la</string>
    <string>arAlef.isol</string>
    <string>arAlef.isol.la</string>
    <string>arAlefShort.fina</string>
    <string>arAlefShort.fina.la</string>
    <string>arAlefShort.isol</string>
    <string>arAlefShort.isol.la</string>
    <string>arBeh.fina</string>
    <string>arBeh.init</string>
    <string>arBeh.isol</string>
    <string>arBeh.medi</string>
    <string>arBeh.medi2</string>
    <string>arDal.fina</string>
    <string>arDal.isol</string>
    <string>arFeh.fina</string>
    <string>arFeh.init</string>
    <string>arFeh.isol</string>
    <string>arFeh.medi</string>
    <string>arGaf.fina</string>
    <string>arGaf.init</string>
    <string>arGaf.isol</string>
    <string>arGaf.medi</string>
    <string>arHah.fina</string>
    <string>arHah.init</string>
    <string>arHah.isol</string>
    <string>arHah.medi</string>
    <string>arHamza.isol</string>
    <string>arHeh.fina</string>
    <string>arHeh.fina2</string>
    <string>arHeh.init</string>
    <string>arHeh.init2</string>
    <string>arHeh.isol</string>
    <string>arHeh.medi</string>
    <string>arHeh.medi2</string>
    <string>arHehDo.fina</string>
    <string>arHehDo.isol</string>
    <string>arKaf.fina</string>
    <string>arKaf.init</string>
    <string>arKaf.isol</string>
    <string>arKaf.medi</string>
    <string>arKashida</string>
    <string>arKeheh.fina</string>
    <string>arKeheh.isol</string>
    <string>arLam.fina</string>
    <string>arLam.init</string>
    <string>arLam.init.la</string>
    <string>arLam.isol</string>
    <string>arLam.medi</string>
    <string>arLam.medi.la</string>
    <string>arMeem.fina</string>
    <string>arMeem.init</string>
    <string>arMeem.isol</string>
    <string>arMeem.medi</string>
    <string>arNoon.fina</string>
    <string>arNoon.fina2</string>
    <string>arNoon.isol</string>
    <string>arQaf.fina</string>
    <string>arQaf.isol</string>
    <string>arReh.fina</string>
    <string>arReh.fina2</string>
    <string>arReh.isol</string>
    <string>arSad.fina</string>
    <string>arSad.init</string>
    <string>arSad.isol</string>
    <string>arSad.medi</string>
    <string>arSeen.fina</string>
    <string>arSeen.init</string>
    <string>arSeen.isol</string>
    <string>arSeen.medi</string>
    <string>arTah.fina</string>
    <string>arTah.init</string>
    <string>arTah.isol</string>
    <string>arTah.medi</string>
    <string>arWaw.fina</string>
    <string>arWaw.isol</string>
    <string>arYeh.fina</string>
    <string>arYeh.fina2</string>
    <string>arYeh.isol</string>
    <string>arYeh.isol2</string>
    <string>di1Dot.above</string>
    <string>di1Dot.below</string>
    <string>di2Dot.above</string>
    <string>di2Dot.below</string>
    <string>di2VDot.above</string>
    <string>di2VDot.below</string>
    <string>di3Dot.above</string>
    <string>di3Dot.below</string>
    <string>di3IDot.above</string>
    <string>di3IDot.below</string>
    <string>di4Dot.above</string>
    <string>di4Dot.below</string>
    <string>diDamma</string>
    <string>diDammatan</string>
    <string>diFatha</string>
    <string>diFathatan</string>
    <string>diGaf.above</string>
    <string>diHamza</string>
    <string>diHamza.above</string>
    <string>diHamza.below</string>
    <string>diKasra</string>
    <string>diKasratan</string>
    <string>diLonga.above</string>
    <string>diLonga.below</string>
    <string>diMadda</string>
    <string>diRing.below</string>
    <string>diShadda</string>
    <string>diSmallV.above</string>
    <string>diSmallV.below</string>
    <string>diSukun</string>
    <string>diTah.above</string>
    <string>diWasla</string>
    <string>dig0</string>
    <string>dig1</string>
    <string>dig2</string>
    <string>dig3</string>
    <string>dig4</string>
    <string>dig4Farsi</string>
    <string>dig4Urdu</string>
    <string>dig5</string>
    <string>dig5Farsi</string>
    <string>dig6</string>
    <string>dig6Farsi</string>
    <string>dig7</string>
    <string>dig7Urdu</string>
    <string>dig8</string>
    <string>dig9</string>
    <string>legAllah</string>
    <string>legLA.fina</string>
    <string>legLA.isol</string>
    <string>legLAShort.fina</string>
    <string>legLAShort.isol</string>
    <string>legSalah</string>
    <string>maAsterisk</string>
    <string>maBraceleft</string>
    <string>maBraceright</string>
    <string>maBracketleft</string>
    <string>maBracketright</string>
    <string>maComma</string>
    <string>maDecimal</string>
    <string>maFullStop</string>
    <string>maOrnateLeft</string>
    <string>maOrnateRight</string>
    <string>maParenleft</string>
    <string>maParentright</string>
    <string>maPercent</string>
    <string>maQuestion</string>
    <string>maSemicolon</string>
    <string>maThousandsep</string>
    <string>wsBase</string>
  </array>
</dict>
</plist>
